
.AllButton{
    background-color: pink;
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.BlackButton
{
    background-color: black;
    color: white;
}

.YellowButton{
    background-color: yellow;
    

}